body {
    background-color:black;
}

header {
    color: white;
}

footer {
    color:white;
}

textarea[name="mensaje"] {
    font-size: 18px;
    box-shadow: 3px 3px 3px #999;
    width: 400px;
    height: 200px;
    margin: auto;
    padding: 5px;
    border: #999;
    box-sizing: 10px;
    background: white;

}

.flex-container {
    display: flex;
    justify-content: center;
}

/*
.contenedor {
    display: flex;
    justify-content: center;
    flex-direction: row;
}*/

.p1 {
    list-style-type: none;
    color:white;
    font-family: Helvetica, sans-serif ;
    background-color: rgb(22, 18, 18);
    width: 200px;
    border: 2px solid rgb(255, 255, 255) ;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

#btn {
    font-size: 16px;
    border-radius: 8px;
    background-color: black;
    color:white;
    border: 2px solid #e7e7e7;
    cursor: pointer;
    margin: 4px 2px;
    padding: 15px;
}


